<section class="chat">
    <div class="container">
        <div class="wrap">
            <div class="wrapper">
                <button class="prev" routerLink="/chats">
                    <svg
                        fill="none"
                        height="12"
                        viewBox="0 0 8 12"
                        width="8"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M0.287994 5.99999L6.29799 12.01L7.71199 10.596L3.11199 5.99599L7.71199 1.39599L6.29799 -0.0100098L0.287994 5.99999Z"
                            fill="#0F1828" />
                    </svg>
                </button>
                <div class="title">
                    <h2>{{ membersData.name }} {{ membersData.lastname }}</h2>
                </div>
            </div>
        </div>
        <div class="chat-grid">
            <div
                (click)="selectMessages(message.id)"
                *ngFor="let message of messages"
                [ngClass]="{
                    'message-friend': message.senderId !== userId,
                    selected: selectedMessages.includes(message.id)
                }"
                class="message">
                <div class="message--wrap">
                    <div class="message__item">
                        <p>
                            {{ message.content }}
                        </p>
                    </div>
                    <div class="message__time">
                        {{ message.createdAt | date: "HH:mm" }}
                    </div>
                </div>
            </div>
        </div>
        <!-- TODO: Теряется возможность выбора сообщений сразу после отправления сообщения в socket, т.к сообщение еще не отправлено в бд -->
        <div *ngIf="selectedMessages.length" class="buttons-selected error">
            <div (click)="deleteMessages()">
                <svg
                    fill="none"
                    height="18"
                    viewBox="0 0 14 18"
                    width="14"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M1 16C1 16.5304 1.21071 17.0391 1.58579 17.4142C1.96086 17.7893 2.46957 18 3 18H11C11.5304 18 12.0391 17.7893 12.4142 17.4142C12.7893 17.0391 13 16.5304 13 16V4H1V16ZM3 6H11V16H3V6ZM10.5 1L9.5 0H4.5L3.5 1H0V3H14V1H10.5Z"
                        fill="white" />
                </svg>
            </div>
            <!--  TODO:Сделать редактирование сообщения-->
            <div>
                <svg
                    fill="none"
                    height="18"
                    viewBox="0 0 18 18"
                    width="18"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M11.06 6L12 6.94L2.92 16H2V15.08L11.06 6ZM14.66 0C14.41 0 14.15 0.1 13.96 0.29L12.13 2.12L15.88 5.87L17.71 4.04C18.1 3.65 18.1 3 17.71 2.63L15.37 0.29C15.17 0.09 14.92 0 14.66 0ZM11.06 3.19L0 14.25V18H3.75L14.81 6.94L11.06 3.19Z"
                        fill="white" />
                </svg>
            </div>
        </div>
        <div class="send-message">
            <div class="send-message--wrap">
                <input
                    (keyup.enter)="sendMessage()"
                    [(ngModel)]="content"
                    class="chat-field"
                    placeholder="Write a message...🐼"
                    type="text" />
                <button (click)="sendMessage()" class="send-message__btn">
                    <svg
                        fill="none"
                        height="20"
                        viewBox="0 0 20 20"
                        width="20"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            clip-rule="evenodd"
                            d="M0.0216164 3.85064C-0.268152 1.15658 2.40997 -0.821837 4.77604 0.339356L18.0875 6.8702C20.6375 8.12027 20.6375 11.8786 18.0875 13.1286L4.77604 19.6606C2.40997 20.8218 -0.267037 18.8434 0.0216164 16.1494L0.556573 11.1537H9.60402C9.8996 11.1537 10.1831 11.0321 10.3921 10.8156C10.6011 10.5991 10.7185 10.3056 10.7185 9.99942C10.7185 9.69329 10.6011 9.3997 10.3921 9.18323C10.1831 8.96677 9.8996 8.84515 9.60402 8.84515H0.557687L0.0216164 3.85064Z"
                            fill="#002DE3"
                            fill-rule="evenodd" />
                    </svg>
                </button>
            </div>
        </div>
    </div>
</section>
