@import "../../../app.component";

.chat {
    // TODO: Пока что так.
    margin: 50px 0 135px 0;
    //overflow-y: scroll;
}

.message.message-friend {
    justify-self: end;
}

.message {
    padding: 10px;
    border-radius: 10px;
    background-color: #ededed;
    width: fit-content;

    &__item {
        margin-bottom: 5px;

        p {
            text-align: justify;
            white-space: normal;
        }
    }

    &__time {
        font-size: calc(#{$font-p - 2px});
    }
}

.send-message {
    position: fixed;
    bottom: 70px;
    left: 0;
    right: 0;
    margin: 0 10px;

    &--wrap {
        display: flex;
        justify-content: space-between;

        .chat-field {
            width: 100%;
            padding: 10px;
            border-radius: 10px 0 0 10px;
            font-size: $font-p;
            border: 2px solid $white;
            border-right: none;
        }
    }

    &__btn {
        background-color: #ffffff;
        padding: 10px 10px 10px 15px;
        border-radius: 0 10px 10px 0;
        border: 2px solid $white;
        border-left: none;
    }
}
