<section class="section settings">
    <div class="container">
        <div class="title">
            <h2>Settings</h2>
        </div>
        <div *ngIf="userData as user" class="grid">
            <div class="grid__item">
                <div class="profile">
                    <div *ngIf="user?.profile_img" class="profile__img">
                        <img [src]="user?.profile_img" alt="" width="80px" />
                    </div>
                    <div *ngIf="!user?.profile_img">
                        <svg
                            fill="none"
                            height="47"
                            viewBox="0 0 48 47"
                            width="48"
                            xmlns="http://www.w3.org/2000/svg">
                            <rect
                                fill="#EDEDED"
                                height="47"
                                rx="12"
                                width="48" />
                            <path
                                d="M19 19C19 16.2386 21.2386 14 24 14C26.7614 14 29 16.2386 29 19C29 21.7614 26.7614 24 24 24C21.2386 24 19 21.7614 19 19ZM24 22C25.6569 22 27 20.6569 27 19C27 17.3431 25.6569 16 24 16C22.3431 16 21 17.3431 21 19C21 20.6569 22.3431 22 24 22Z"
                                fill="#0F1828" />
                            <path
                                d="M18.3431 27.3431C16.8429 28.8434 16 30.8783 16 33H18C18 31.4087 18.6321 29.8826 19.7574 28.7574C20.8826 27.6321 22.4087 27 24 27C25.5913 27 27.1174 27.6321 28.2426 28.7574C29.3679 29.8826 30 31.4087 30 33H32C32 30.8783 31.1571 28.8434 29.6569 27.3431C28.1566 25.8429 26.1217 25 24 25C21.8783 25 19.8434 25.8429 18.3431 27.3431Z"
                                fill="#0F1828" />
                        </svg>
                    </div>
                    <div class="profile__name">
                        <p>{{ user.name }} {{ user.lastname }}</p>
                    </div>
                </div>
                <a
                    [queryParams]="{
                        id: user.id
                    }"
                    routerLink="/settings/profile">
                    <svg
                        fill="none"
                        height="24"
                        viewBox="0 0 24 24"
                        width="24"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M15.713 12L9.702 5.99001L8.288 7.40401L12.888 12.004L8.288 16.597L9.702 18.011L15.713 12Z"
                            fill="#0F1828" />
                    </svg>
                </a>
            </div>
            <div class="grid__item">
                <button (click)="exit()" class="btn btn-primary">Exit</button>
            </div>
        </div>
    </div>
</section>
