<section class="section friends">
    <div class="container">
        <div class="wrapper">
            <div class="title">
                <h2>Friends</h2>
            </div>
            <button class="add" routerLink="/friends/find-friends">
                <svg
                    fill="none"
                    height="14"
                    viewBox="0 0 14 14"
                    width="14"
                    xmlns="http://www.w3.org/2000/svg">
                    <path d="M8 8V14H6V8H0V6H6V0H8V6H14V8H8Z" fill="#0F1828" />
                </svg>
            </button>
        </div>
        <div class="friends__grid">
            <div *ngIf="showSearch" class="friends__search">
                <label (click)="getSearchFriends(value)" for="search">
                    <svg
                        fill="#adb5bd"
                        height="24"
                        viewBox="0 0 24 24"
                        width="24"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M18.677 19.607L12.962 13.891C10.4196 15.6984 6.91642 15.2563 4.90285 12.8739C2.88929 10.4915 3.03714 6.96358 5.24298 4.75799C7.44824 2.55144 10.9765 2.40295 13.3594 4.4164C15.7422 6.42986 16.1846 9.93344 14.377 12.476L20.092 18.192L18.678 19.606L18.677 19.607ZM9.48498 4.99997C7.58868 4.99955 5.95267 6.33066 5.56745 8.18742C5.18224 10.0442 6.15369 11.9163 7.89366 12.6702C9.63362 13.4242 11.6639 12.8528 12.7552 11.302C13.8466 9.75126 13.699 7.64731 12.402 6.26399L13.007 6.86399L12.325 6.18399L12.313 6.17199C11.5648 5.41917 10.5464 4.99712 9.48498 4.99997Z"
                            fill="#ADB5BD" />
                    </svg>
                </label>
                <input
                    (input)="Search(value)"
                    (keydown.enter)="getSearchFriends(value)"
                    [(ngModel)]="value"
                    id="search"
                    name="q"
                    placeholder="Search"
                    type="text" />
            </div>
            <div *ngIf="error">
                {{ error }}
            </div>
            <card-user
                *ngFor="let userData of friendsData"
                [enableButton]="enableButton"
                [userData]="userData">
            </card-user>
        </div>
    </div>
</section>
