@import "../../app.component";

.friends {
    margin: 20px 0 100px;

    &__grid {
        display: grid;
        gap: 16px;
    }

    button.add {
        width: 20px;
    }

    &__search {
        position: relative;

        label[for="search"] {
            position: absolute;
            width: 24px;
            height: 24px;
            top: 6px;
            left: 8px;
        }

        input[type="text"] {
            width: 100%;
            padding: 10px 8px 10px 40px;
            background-color: $white;
            border: none;
            border-radius: 4px;

            &::placeholder {
                font-size: $font-p;
                font-family: "Archivo", sans-serif;
                color: #adb5bd;
            }
        }
    }
}
