<section class="chats">
    <div class="container">
        <header class="header">
            <div class="title">
                <h2>Chats</h2>
            </div>
        </header>
        <div *ngIf="loading">Loading...🐼</div>
        <div *ngIf="!loading" class="chat-grid">
            <card-user
                *ngFor="let chatData of chatsData"
                [isChatCard]="true"
                [lastMessage]="chatData.lastMessage"
                [userData]="chatData.user"></card-user>
        </div>
    </div>
</section>
