<section class="center">
    <div class="container">
        <div class="home wrapper">
            <div class="wrapper_content">
                <div class="home__img">
                    <img src="{{ img }}" alt="" />
                </div>
            </div>
            <div class="wrapper_content">
                <div class="home__title">
                    <h1>
                        Connect easily with your family and friends over
                        countries
                    </h1>
                </div>
                <button routerLink="/register" class="btn btn--primary">
                    Start Messaging
                </button>
            </div>
        </div>
    </div>
</section>
