@import "../../app.component.scss";

.nav {
	@extend %wrapper;

	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;

	margin: 10px;
	padding: 10px 25px;
	border-radius: 20px;
	background-color: #f3f1f1;

	&__item {
		cursor: pointer;
	}
}
