/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Archivo&family=Noto+Sans+Display:wght@700&display=swap");
@import "./app/app.component.scss";

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-size: 100%;
	font-family: "Archivo", sans-serif;
	font-weight: 400;
}

body {
	font-size: $font-p;
}

a {
	text-decoration: none;
	color: inherit;
}

ul li {
	list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Noto Sans Display", sans-serif;
	font-size: $font-h;
	font-weight: 700;
}

input:focus {
	outline: none;
}

button {
	background-color: transparent;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 12px 0;
	color: $white;
	font-size: calc(#{$font-p + 2px});
	font-family: "Noto Sans Display", sans-serif;
}
