@import "../../app.component";

.card {
    align-items: flex-start;
    justify-content: flex-start;
    border-bottom: 1px solid $grey;
    padding-bottom: 16px;

    &__img {
        .no_img {
            padding: 9px 11px;
            border: 1px solid $grey;
            background-color: $grey;
        }

        img,
        .no_img {
            border-radius: 12px;
        }
    }

    &__name {
        margin: 5px 0 0 12px;

        p {
            font-weight: 500;
        }
    }
}
